// ==========================================================================
// Base
// A Base rule is applied to HTML element using an element selector, a
// descendent selector, or a child selector, along with any pseudo-classes.
// We cannot reference any element defined here by their respective class or ID name.
// This defines the default styling for how that element should look.
// Changes in style other than default should be overwritten using other partials.
// ==========================================================================

// Reset CSS
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Global Clearfixing
  @if $grid-type == 'float'{
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
}

// Base Code
html, body{
  font-size: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family--primary;
  text-rendering: optimizeLegibility;
}
a{
  outline: none;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;
}
a, span, strong {
  &:after{
    @extend %clearfix-none;
  }
}
ul,ol{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-family--primary;
  font-weight: 700;
  margin: 0;
  span {
    color: $green;
  }
}
h1{
  font-size: $head1-font-size;
  line-height: $head1-line-height;
  margin-bottom: 75px;
}
h2{
  font-size: $head2-font-size;
  line-height: $head2-line-height;
}
h3{
  font-size: $head3-font-size;
}
h4{
  font-size: $head4-font-size;
  line-height: $head4-line-height;
  margin-bottom: 14px;
}
p {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: 30px;
}
p:last-child {
  margin-bottom: 0;
}
button {
  font-family: $font-family--primary;
  background: $primary-color;
  color: $white;
  padding: 14px 42px 16px 43px;
  box-shadow: 0px 28px 40px #00000024;
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
img{
  max-width: 100%;
  vertical-align: top;
}