.about {
    margin-top: 50px;
    margin-bottom: 100px;
    @include mq(md){
        margin-top: 90px;
        margin-bottom: 203px;        
    }
    .title-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        @include mq(md){
            flex-direction: row;
            margin-bottom: 150px;
        }
        .column {
            width: 100%;       
        }
        h2 {
            max-width: 400px;
            margin-top: 48px;
        }
        p {
            margin-top: 30px;
            line-height: 28px;
            @include mq(md){
                margin-top: 62px;       
            }
        }
        .number {
            position: absolute;
            font-size: 80px;
            line-height: 124px;
            font-weight: 700;
            margin-left: -14px;
            z-index: -1;
            color: $gray;
            @include mq(md){
                font-size: 100px;
                margin-left: -72px;
            }
        }
    }
    
    .content-wrapper {
        display: flex;
        flex-direction: column;
        
        @include mq(md){
            flex-direction: row;
        }
        .content-box {
            margin-right: 124px;
            max-width: 625px;
            width: 100%;
            .content {
                width: 100%;
                margin-bottom: 44px;
                h3 {
                    margin-bottom: 30px;
                }
            }
        }
        
        .navigation-wrapper {
            max-width: 304px;
            width: 100%;
            .navigation {
                position: sticky;
                top: 120px;
                right: 0;
                padding: 50.5px 45px 71px;
                width: 100%;
                border: 1px solid #F0F0F0;
                h3 {
                    margin-bottom: 40.5px;
                }
                a {
                    display: block;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 20px;
                    color: $black;
                    :last-child {
                        margin-bottom: 0;
                    }
                    &.current {
                        color: $green;
                    }
                }
            }
        }
    }
}