.intro {
    display: flex;
    .photo {
        width: 50%;
        min-height: 656px;
        background-size: cover;
        background-position: center;
    }
    .content {
        width: 50%;
        max-width: 422px;
        margin: 100px 113px;
    }
}