.intro {
    display: flex;
    flex-direction: column;
    @include mq(md){
        flex-direction: row;
    }
    .photo {
        width: 100%;        
        background-size: cover;
        background-position: center;
        min-height: 256px;
        @include mq(md){
            min-height: 656px;
        }
    }
    .content {
        background: $gray;
        width: 100%;
        .wrapper {
            max-width: 422px;
            margin: 100px 113px;
        }
    }
    p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 59px;
    }
}