.intro {
    display: flex;
    .photo {
        width: 50%;
        height: 656px;
        background-size: cover;
        background-position: center;
    }
    .content {
        width: 50%;
    }
}